<button
    class="layout-config-button p-link"
    type="button"
    (click)="onConfigButtonClick()"
>
    <i class="pi pi-cog"></i>
</button>

<p-sidebar
    [(visible)]="visible"
    position="right"
    [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-config-sidebar w-20rem"
>
    <h5>Change theme</h5>
    <div class="grid">
        <div class="col-3">
            <button
                class="p-link w-2rem h-2rem"
                (click)="changeTheme('bootstrap4-light-blue', 'light')"
            >
                <img
                    src="assets/layout/images/themes/bootstrap4-light-blue.svg"
                    class="w-2rem h-2rem"
                    alt="Bootstrap Light Blue"
                />
            </button>
        </div>

        <div class="col-3">
            <button
                class="p-link w-2rem h-2rem"
                (click)="changeTheme('bootstrap4-dark-blue', 'dark')"
            >
                <img
                    src="assets/layout/images/themes/bootstrap4-dark-blue.svg"
                    class="w-2rem h-2rem"
                    alt="Bootstrap Dark Blue"
                />
            </button>
        </div>
    </div>
</p-sidebar>
