<!-- <div class="layout-wrapper" [ngClass]="containerClass" >
    <div class="row">
        <div class="row">
            <app-topbar></app-topbar>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="layout-sidebar">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
            <div class="col-10">
                <div class="layout-main-container">
                    <div class="layout-main">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container-fluid">
    <div class="row">
        <app-topbar></app-topbar>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="layout-sidebar">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col-9">
            <div class="layout-main-container">
                <div class="layout-main">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
